# Ignore local development environment files
.env

# Ignore SQLite database file
db.sqlite3

# Ignore static files collected locally
/staticfiles/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore media files (if stored locally)
/media/

# Ignore other development-specific files or directories
*.pyc
*~
