{% extends 'base.html' %}

{% block title %} <title>{{author.first_name}}{{author.last_name}}</title> {% endblock %}



{% block content %} 
<ul>
    <li>{{author.first_name}} {{author.last_name}}</li>
    <li>{author.date_of_birth}</li>
    <li>{author.book.title}<a href=""></a></li>
{% for book in author.book_set.all %}
    <!--Loop so we can view books -->
    <li>{author.book.title}<a href=""></a></li>

    {% endfor %}
{% if author.date_of_death  %}

<li class = 'date_of_death'>{{author.date_of_death }}</li>
{% endif %}


</ul>

<button><a href="{% url 'author-update' author.pk %}">Update Author Information</a></button>
<button><a href="{% url 'author-delete' author.pk %}">Delete Author Information</a></button>
{% endblock %}