body {
    background-color: aquamarine;
    margin: 0 auto;
    width: 60%;
    line-height: 1.1rem;
    font-size:18px;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1rem;

}

li {
    list-style: none;
    padding-top: 0.5rem;

    line-height: 1rem;

}

a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  a.active {
    background-color: #333;
    color: #fff;
  }

  


h1,
h2 {
    text-align: center;
}

img {
    width: 100px;
    height: auto;
}
  
/************************Nav*******************************/
 
.menu {
    padding: 1rem;
    margin-bottom: 3rem;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;

  }
  
  nav li {
    
    position: relative;
  }
  
 
  .manage-catalogue {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f2f2f2;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  nav li.open .manage-catalogue {
    display: block;
  }
  
/****************************End Nav*********************************/

.hero {
    background-color: #cccccc;
    background-size: cover;
    height: 30vh;
    text-align: center;
    line-height: 3rem;
}

.logo {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    margin-bottom: 3rem;
}

.books-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;

}


.book {
    text-align: justify;
    margin: 2rem;
}


.general-content {
    text-align: center;
}

.general-content ul {
    display: flex;
    margin: 0 auto;
    padding: 0 auto;
}

.general-content li {
    margin: 0 auto;
    padding: 2rem;
}

ul .book-genre {

    color: #000;
}



.pagination {
    text-align: center;
}


.book-detail {
    display: flex;
    text-align: justify;
    justify-content: space-between;

}

.author-detail {
    display: flex;
    text-align: justify;
    justify-content: start;
}

.book-detail ul {
    padding-left: 1rem;
}

.book-title {
    line-height: 1rem;
    font-weight: 700;
}

.book-summary {
    line-height: 1.2rem;
    text-align: justify;
    font-size: 1rem;
    color: gray;
}

.book-isbn,
.book-language,
.book-genre {
    font-size: 0.85rem;
}

.text-danger {
    color: red
}

.menu li {
    padding: 1rem;
}

.menu a {
    text-decoration: none;
}

.my-borrowed {

    display: flex;
    justify-content: space-around;
    margin-bottom: 0.3rem;
    border-radius: 1%;
    border: solid gray 1px;
    padding: 1rem;

}



/*****************Table Style****************/
table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}


tr:hover {
    background-color: #ddd;
}

tr:first-child {
    border-top: 2px solid #ddd;
}

tr:last-child {
    border-bottom: 2px solid #ddd;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #3e8e41;
}

button.all-books{
    display: block;
    margin: 0 auto;
    text-align: center;
  }

.btn {
    background-color: gold;
    border-color: black;
    border-radius: 5%;
    margin-top: 1rem;
    padding: 0.2rem;


}



form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: justify;
  }
  
  form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
  }
  
  input[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  input[type="hidden"] {
    display: none;
  }
  
/* Styles for mobile devices */
@media only screen and (max-width: 480px) {
    body {
      font-size: 14px;
      background-color: #000;
    }
    
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: block;
    }
    
    .books-list {
      display: block;
    }
  }
  
  
  @media only screen and (max-width: 480px) {
    /* Your CSS rules for mobile devices */
    body {
      font-size: 14px;
    }
    
    .menu ul {
      list-style-type: none;
      margin: 0;
      padding: 0;   
      display: none;
    }
    
    .books-list {
      display: none;
    }
  }
  
  
  