{% extends 'base.html' %}

{% block title %} <title>{{author.first_name}}{{author.last_name}}</title> {% endblock %}



{% block content %}
<div class="author-detail">
<div> <img src="{{ author.image.url }}" alt="" srcset=""></div>
<div>
<p>FullName: {{ author.first_name }} {{ author.last_name }}</p>
<p>Born on: {{ author.date_of_birth }}</p>
<p>Died on: {{ author.date_of_death }}</p>
<p><a href="{% url 'author-books' author.pk   %}">Other Books by Author</a></p>
</div>
</div>
<button><a href="{% url 'author-update' author.pk %}">Update Author Information</a></button>
<button><a href="{% url 'author-delete' author.pk %}">Delete Author Information</a></button>
{% endblock %}