{% extends 'base.html' %}


{% block title %} <title>Author Information</title> {% endblock %}

{% block content %}

{% for author in author_list %}



<ul>
    <li> <a href="{{ author.get_absolute_url }}">{{author.first_name}} {{author.last_name}}</a> </li>
    
    <li>{{author.book.title}}<a href=""></a></li>
{% for book in author.book_set.all %}
    <!--Loop so we can view books -->
    <li>{{author.book.all|join:", " }}<a href=""></a></li>
   

    {% endfor %}
{% if author.date_of_death  %}

<li class = 'date_of_death'>{{author.date_of_death }}</li>
{% endif %}
<button><a href="{% url 'author-update' author.pk %}">Update Author Information</a></button>
<button><a href="{% url 'author-delete' author.pk %}">Delete Author Information</a></button>

</ul>



{% endfor %}

{% endblock %}