{% extends 'base.html' %}

{% block title %} <title>Borrowed Books</title> {% endblock %}

{% block content %}

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Due Date</th>
      <th>Borrower</th>
      {% if perms.catalog.can_mark_returned %}
      <th>Actions</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for bookinst in object_list %}
    <tr>
      <td>{{ bookinst.book.title }}</td>
      <td>{{ bookinst.due_back }}</td>
      <td>{{ bookinst.borrower }}</td>
      <td>
        {% if perms.catalog.can_mark_returned %}
        <a href="{% url 'renew-book-librarian' bookinst.id %}"><button>Renew</button></a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
