{% extends "base.html" %}

{% block content %}
  <h2>Here is a list borrowed books</h2>

  {% if bookinstance_list %}
    <table>
      <thead>
        <tr>
          <!--th>Book</th-->
          <th>Title</th>
          <th>Author</th>
          <th>Due Back</th>
          <th>Status</th>

          {% if perms.catalog.can_mark_returned %}
          <th>Renew Date</th>
          <th>Return Book</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for bookinst in bookinstance_list %}
          <tr>
            <!--td><img src="{{ bookinst.book.image.url }}" alt="" srcset=""></td-->
            <td class="{% if bookinst.is_overdue %}text-danger{% endif %}">
              <a href="{% url 'book-detail' bookinst.book.pk %}">{{ bookinst.book.title }}</a>
            </td>
            <td><a href="{% url 'book-detail' bookinst.book.pk %}">{{ bookinst.book.author }}</a></td>
            <td>{{ bookinst.due_back }}</td>
            <td class="{% if bookinst.is_overdue %}text-danger{% endif %}">
              {% if bookinst.is_overdue %}&#9888; Overdue{% else %}On Time{% endif %}
            </td>
            {% if perms.catalog.can_mark_returned %}
            <td><a href="{% url 'renew-book-librarian' bookinst.pk %}"><button>renew</button></a></td>
            <td><a href="{% url 'renew-book-librarian' bookinst.pk %}"><button>return</button></a></td>
          {% endif %}


          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no books borrowed.</p>
  {% endif %}

 
{% endblock %}
