{% extends 'base.html' %}
{% block title%} <title>{{ book.title }} by {{ book.author }}</title> {% endblock %}

{% block content %}

<h1>The Book</h1>
<ul>
    <li class="book-title"> {{ book.title }} </li>
    <li class="book-author">  <a href="{{ book.author.get_absolute_url }}"> {{ book.author }}</a></li>
    <li class="book-summary">{{ book.summary }}</li>
    <li class="book-isbn">isbn: {{ book.isbn }}</li>
    <li class="book-language">{{ book.language }}</li>
    <li class="book-genre">{{ book.genre.all|join:", " }}</li>
    <li><a href="" class="btn">Borrow</a> <a href="{{ book.author.get_absolute_url }}" class="btn">About author</a></li>
</ul>
<hr>
<div><a href="{% url 'books' %}" class="btn"> Go back to list of all books</a></div>
{% if perms.catalog.can_mark_returned %}
<button><a href="{% url 'book-update' book.pk %}">Update Book Information</a></button>
<button><a href="{% url 'book-delete' book.pk %}">Delete Book Information</a></button>
<hr>


<h2>Copies</h2>

<h3>{{ copy.get_status }}</h3>
{% for copy in book.bookinstance_set.all %}


{% if copy.status  != 'a' %}

<p>Book not available, it is due to be returned on <strong>{{copy.due_back}}</strong></p>

{% endif %}
<p><strong>Imprint:</strong> {{ copy.imprint }}</p>
      <p><strong>Id:</strong> {{ copy.id }}</p>



{% endfor %}
{% endif %}
{% endblock %}