{% extends 'base.html' %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        {% for profile in profiles %}
        <tr>
            <td>{{ profile.username }}</td>
            <td>{{ profile.name }}</td>
            <td>{{ profile.lastname }}</td>
            <td>{{ profile.email }}</td>
            <td>{{ profile.phone }}</td>
            <td><img src="{{ profile.image.url }}" alt="Profile Image"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}