{% extends 'base.html' %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for profile in profiles %}
        <tr>
            <td>{{ profile.user.username }}</td>
            <td>{{ profile.user.first_name }}</td>
            <td>{{ profile.user.last_name }}</td>
            <td>{{ profile.user.email }}</td>
            <td>{{ profile.phone }}</td>
           
            <td><img src="{{ profile.image.url }}" alt="Profile Image"></td>
           <td><button> <a href="{% url 'userprofile-update' profile.user.pk %}"> Update Info </a></button></td>
            <td> <button><a href="{% url 'userprofile-delete' profile.user.pk %}"> Delete Profile </a></button> </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}